<h2>Order</h2>

<form name="orderForm" novalidate ng-submit="placeOrder()">
    <!-- Good practice: make sure there's a dot in ng-model! -->
    <input ng-model="customer.name" name="name" type="text" placeholder="Name" required />
    <span ng-show="orderForm.name.$error.required && orderForm.name.$touched && orderForm.$submitted">This field is required!</span>
    <input ng-model="customer.email" type="email" placeholder="Email" />
    <textarea ng-model="customer.address" name="address" placeholder="Order address">

    </textarea>
    <button type="submit">Confirm order</button>
</form>