<h2>Order</h2>

<form name="orderForm" novalidate ng-submit="placeOrder()">
    <!-- Good practice: make sure there's a dot in ng-model! -->
    <input ng-model="order.customer.name" name="name" type="text" placeholder="Name" required />
    <span ng-show="orderForm.name.$error.required && orderForm.name.$touched && orderForm.$submitted">This field is required!</span>
    <input ng-model="order.customer.email" name="email" type="email" placeholder="Email" />
    <span ng-messages="orderForm.email.$error" class="validationError">
        <ng-messages-include src="errorMessges"></ng-messages-include>
    </span>
    <textarea ng-model="order.customer.address" name="address" placeholder="Order address" multiline-required>
    </textarea>
    <span ng-messages="orderForm.address.$error" class="validationError">
        <ng-messages-include src="errorMessges"></ng-messages-include>
        <span ng-message when="multilineRequired">Need 2 lines!</span>
    </span>
    <button type="submit">Confirm order</button>
</form>

<script type="text/ng-template" id="errorMessges">
    <span ng-message when="required">This field is required!</span>
    <span ng-message when="email">Need valid email.</span>
</script>
